* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0a0b29;
  color: white;
}
.navbar {
  color: antiquewhite;
  padding: 1%;
  padding-left: 7%;
  background: #0c0d42;
}

.search-box { 
  align-items: center;
  margin: auto;
  margin-top: 10px;
  color: antiquewhite;
  text-align: center;
  padding: 2%;
  width: 50%;
}

.search-box input {
  width: 300px;
  height: 40px;
  margin: 10px;
  background-color: rgba(103, 103, 103, 0.501);
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 1.03rem;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
  text-align: center;
}

.search-box button {
  width: 100px;
  height: 40px;
  background-color: rgb(3, 3, 105);
  color: white;
  border:none;
  border-radius: 20px;
}

.weather-card {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  color: white;
  width: 30%;
  padding: 2%;
  border-radius: 10px;
  background: #050061;
  background: linear-gradient(
    38deg,
    rgba(5, 0, 97, 1) 14%,
    rgba(10, 58, 191, 1) 60%
  );
}

.weather-card h2 {
  font-size: xx-large;
}

.weather-card p {
  font-size: large;
}

.footer {
  text-align: center;
  color: antiquewhite;
  padding: 1%;
  background: #0c0d42;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: large;
}

.info-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3%;
  gap: 10%;
}

.info{
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: rgba(1, 11, 37, 0.285);
}

.error{
  text-align: center;
  font-size: 1.2rem;
  background-color: rgba(184, 5, 5, 0.858);
  width: 400px;
  height: 40px;
  margin: auto;
  align-content: center;
  border-radius: 10px;
}

.loader{
  text-align: center;
  font-size: 1.2rem;
  width: 400px;
  height: 40px;
  margin: auto;
  align-content: center;
  border-radius: 10px;
  background-color: rgb(80, 78, 78);
}