/* Theme Variables */

:root {
    --body-bg: white;

    --content-bg: rgb(241, 240, 238);
    --content-border: rgb(119, 119, 119);

    --text-color: black;

    --button-bg: rgb(245, 230, 210);
    --button-border: rgb(68, 66, 66);

    --output-bg: rgb(135, 131, 131);
    --output-border: rgb(91, 91, 91);
    --output-text: white;
}

/* Dark Theme */

.dark-theme {
    --body-bg: #1e1e1e;

    --content-bg: #2b2b2b;
    --content-border: #666666;

    --text-color: #ffffff;

    --button-bg: #3b3b3b;
    --button-border: #8a8a8a;

    --output-bg: #4a4a4a;
    --output-border: #6a6a6a;
    --output-text: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    background-color: var(--body-bg);
    color: var(--text-color);
}

header {
    text-align: center;
    margin: 10px;
}
header button{
    padding: 8px;
    border-radius: 10px;
    background-color: (var(--body-bg));
    color: var(--text-color);
    margin-left: 10px;
    margin-right: 10px;
}

#mainContent {
    width: 70%;
    max-width: 600px;
    margin: auto;
    padding: 20px;

    border: 6px solid var(--content-border);
    border-radius: 20px;

    background-color: var(--content-bg);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

#mainContent p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

#operations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.opBtn {
    padding: 12px 16px;
    border: 3px solid var(--button-border);
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

    background-color: var(--button-bg);
    color: var(--text-color);

    cursor: pointer;
}

#outputBox {
    margin-top: 20px;
    background-color: var(--output-bg);
    border: 4px solid var(--output-border);
    border-radius: 8px;

    color: var(--output-text);

    text-align: center;
    padding: 15px;
}

#contentBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    gap: 20px;
}

#historyBox{
    width: 30vw;
    height: 50vh;
    border: 6px solid var(--content-border);
    border-radius: 20px;
    background-color: var(--content-bg);
    text-align: center;
    overflow-y: auto;
}
#history{
    list-style: none;
}

/*  Responsive design for Mobile Devices */

@media (max-width: 600px) {

    #mainContent {
        width: 95%;
        padding: 20px;
    }

    .opBtn {
        width: 100%;
        font-size: 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    input {
        font-size: 16px;
    }

    #contentBox{
        flex-direction: column;
    }

    #historyBox{
        width:60vw;
    }
}
